<?xml version='1.0' encoding='utf-8'?>
<widget id="urbantz" android-packageName="com.urbantz.app" version="0.1.0">
  <name>Urbantz</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="dani@urbantz.com">
    Daniel
  </author>
  <plugin name="com.eclipsesource.tabris.maps" spec="https://github.com/eclipsesource/tabris-maps.git">
    <variable name="API_KEY_FOR_ANDROID" value="AIzaSyBzjmmN1ZRyLEHiAl9Awi9wMm8-2Kz2ZYg" />
  </plugin>
  <hook src="hooks/api_key_hook.js" type="before_platform_add" />
</widget>
